/* CSS Reset */
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
   display: flex;
}

.navigation{
   padding: 2%;
   background-color: rgb(255, 255, 255);
   flex-basis: 25%;
}

.navigation h1{
   text-align: center;
   color: rgb(115, 215, 169);
}

.nav-button{
   display: block;
   font-weight: bolder;
   margin: 1vh auto;
   width: 100%;
   background-color: rgb(180, 233, 208);
   height: 6vh;
   border: 0.5px solid rgb(206, 190, 190);
   color: white;
   padding-left: 3%;
   font-size: 25px;
   border-radius: 10px;
   text-align: start;
   margin-top: 5vh;
}

.nav-button:hover{
   background-color: rgb(122, 208, 168);
}

hr{
   margin: 10vh auto;
   border: 2px solid rgb(180, 233, 208);
}

/* ****Section todo**** */


/* ****Add Task hidden Section**** */
.todo{
   background-color: rgb(180, 233, 208);
   flex-basis: 75%;
   padding: 30px 30px ;
}

.todo h1{
   color: rgb(255, 255, 255);
   font-size: 50px;
   text-align: center;
}

#show-template{
   height: 50px;
   width: 20%;
   margin-left: 25px;
   background-color: white;
   color:rgb(24, 139, 35);
   border: 0px;
   border-radius: 10px;
   font-weight: bolder;
   font-size: 20px;
}

#show-template:hover{
   background-color: rgb(225, 225, 225);
}

#task-section{
   display: none;
   margin-top: 10vh;
   color: white;
   font-size: 30px;
   font-weight: bold;
}

textarea{
   height: 8vh;
   width: 70%;
   font-size: 30px;
   color: rgb(155, 155, 155);
   padding-left: 10px;
}

#description{
   height:15vh
}

form{
   margin-top: 20px;
   border: 2px solid rgb(167, 167, 167);
   padding: 30px;
   border-radius: 20px;
   color: white;
   font-size: 27px;
   font-weight: bolder;
}

.field{
   display: flex;
   align-items: center;
   margin-top: 15px;
   justify-content:space-between;
}

.last-field{
   display: flex;
   align-items: center;
   margin-top: 20px;
}

select{
   height: 10vh;
   width: 20%;
   margin-left: 11%;
   background-color: rgb(255, 255, 255);
   text-align: center;
   font-size: 25px;
   border-radius: 15px;
}

#add-task{
   margin-left: 20px;
   width: 15%;
   height: 10vh;
   border-radius: 15px;
   border: 0px;
   font-size: 20px;
   background-color: rgb(37, 162, 39);
}

#add-task:hover{
   background-color: rgb(54, 209, 56);
}

/* Tasks todo Section */
.tasks{
   padding: 30px 30px;
}

.todo h2{
   color: rgb(25, 113, 25);
}

#all_tasks div{
   background-color: white;
   margin-top: 3vh;
   height: 50px;
   border-radius: 10px;
   padding-left: 10px;
}

#all_tasks input{
   height: 25px;
   width: 25px;
   margin-right: 20px;
}

.task {
   display: flex;
   align-items: center;
   font-size: 22px;
   position: relative;
}

.fa-trash{
   position: absolute;
   right: 40px;
   color: red;
   cursor: pointer;
}

.fa-check{
   position: absolute;
   right: 5px;
   color: rgb(60, 207, 15);
   cursor: pointer;
}



